

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 25, 44);
    padding: 15px 40px 15px 0px;
    
}

.name {
  color: rgb(17, 25, 44);
  background-color: rgb(189, 228, 189);
  padding: 15px 15px 15px 100px;
}

.navbar {
  font-size: 2rem;
}

li {
    display: inline;
    padding: 0px 20px;
    font-weight: bold;

}


a, a:visited {
  color:rgb(159, 202, 159);
  text-decoration: none;
  border-bottom: 5px solid rgb(189, 228, 189);
  padding-bottom: 4px;
}


.windtunnel-aircraft {
  width: 100%;
  height: 600px;
}

.subtitle {
  width: 400px;
  position:relative;
  bottom:200px;
  left: 1200px;
  background-color: red;
  color:white;
  border: 2px solid white;
  outline: 2px solid red;
  padding: 20px 30px;
  text-align: center;
  
}