
:root {
  --dark-blue: rgb(17, 25, 44);
  --light-green: rgb(189, 228, 189);
  --blue-gray: rgba(36, 85, 94, 0.938);
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
  color: var(--blue-gray);
  line-height: 1.5;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}


main {
  margin: 30px 50px 10px 180px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.6rem;
}


/* Class selectors for the Header*/
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 15px 40px 15px 0px;
    
}

.name {
  color: var(--dark-blue);
  background-color: var(--light-green);
  padding: 15px 15px 15px 100px;
}

.navbar {
  width: auto;
  padding: 0 50px 0 0;
}

.navbar-list {
    display: inline;
    padding: 0px 20px;
    font-weight: bold;
}

.navbar-font, .navbar-font:visited {
  color:var(--light-green);
  text-decoration: none;
  border-bottom: 5px solid var(--light-green);
  padding-bottom: 4px;
  font-size: 2rem;
}


/* Class selectors for the Main Image. */
.main-image-section {
  display: block;
  width: 100%;
  height: 600px;
}

.windtunnel-aircraft {
  width: 100%;
  height: 100%;
}

.subtitle {
  position:relative;
  bottom: 150px;
  left: 100px;
  width: 400px;
  padding: 20px 30px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 2.5rem;
  border: 2px solid white;
  outline: 2px solid red;
  cursor: pointer;
}

.subtitle:hover {
  background-color: orange;
  border: 2px solid black;
  outline: 2px solid orange;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: auto;
  padding: 20px 0px;
}

.aside {
  box-sizing: border-box;
  width: 200px;
  height: auto;
  text-align: right;
  padding: 0 30px 0 0;
  border-right: 8px solid var(--blue-gray);
  margin-right: 50px;
}

.about-me-content {
  height: auto;
  margin: 0 0 0 50px;
  flex-basis: 70%;
  line-height: 1.5;
}

.about-me-font {
  font-size: 2rem;
  color: var(--blue-gray);
}

.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: auto;
  padding: 20px 0px;
}


.work-content {
  height: auto;
  margin: 0 0 0 50px;
  flex-basis: 70%;
}

.work-image-top {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border: 10px solid var(--light-green);
}

.top-image-subtitle {
  position: relative;
  bottom: 100px;
  width: 300px;
  height: auto;
  padding: 10px 10px;
  text-align: left;
  background-color: var(--light-green);
  color: var(--blue-gray);
  font-size: 2rem;
}

.work-image-bottom-flexbox {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.work-image-bottom {
  width: 49%;
  height: 250px;
  margin: 10px 0px;
  border: 10px solid var(--light-green);
}

.bottom-image-subtitle {
  position: relative;
  bottom: 100px;
  width: 300px;
  height: auto;
  padding: 10px 10px;
  text-align: left;
  background-color: var(--light-green);
  color: var(--blue-gray);
  font-size: 2rem;
}

/* .work-content {
  display: block;
  width: 70%;
  height: 600px;  
  border: 1px solid red;
  box-sizing: border-box;
}

.work-content-top {
  width: 100%;
  height: 200px;
  border:1px solid blue;
  box-sizing: border-box;
}

.work-content-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 600px;  
  box-sizing: border-box;
}

.work-content-bottom-image {
  width: 40%;
  height: 100px;
  border:1px solid green;
  box-sizing: border-box;
} */


.contact-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: auto;
  width: auto;
  padding: 20px 0px;
}

.contact-me-content {
  flex-basis: 70%;
  height: auto;
  align-self: center;
}

.contact-me-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-me-list {
  display: inline;
  padding: 0px 20px;
  font-weight: bold;
}

.contact-me-list-font, .contact-me-list-font:visited {
color: var(--blue-gray);
text-decoration: none;
border-bottom: 5px solid var(--blue-gray);
padding-bottom: 4px;
font-size: 2rem;
}